<div class="clearfix" style="margin-bottom:20px">
  <div class="pull-right">
    <%= link_to "Back", page_path(@page), class: 'btn btn-default' %>
  </div>
  <%= link_to "Home", root_path, class: 'btn btn-default pull-left', style: 'margin-right:20px' %>
  <h2 style="margin:0">
    <%= @page.name %>
    <small>
    <small>
      <%= render 'nightlight/pages/brightness', page: @page %>
      <%= last_checked_at @page %>
    </small>
    </small>
  </h2>
</div>

<%= render 'nightlight/pages/form' %>
