<div class="clearfix" style="margin-bottom:20px">
  <div class="pull-right">
    <%= link_to "New Page", new_page_path, class: 'btn btn-default' %>
    <%= link_to "Check Random Page", random_pages_path, class: "btn btn-primary #{'disabled' unless @pages.any?}", data: {method: :post} %>
  </div>
  <h3 style="margin:0"><%= render 'nightlight/pages/brightness', brightness: avg_page_brightness(@pages) %></h3>
</div>

<% if @pages.empty? %>
  <div class="alert alert-success text-center">
    Welcome! <code>GET</code> routes in your <code>config/routes.rb</code> can be imported below. You can also register pages manually by clicking <strong>New Page</strong>.
  </div>
<% end %>

<% if @new_pages.any? %>
  <div class="panel panel-warning">
    <div class="panel-heading" style="text-align:center">New <code>GET</code> routes found in <code>config/routes.rb</code>:</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Controller</th>
            <th>Add?</th>
          </tr>
        </thead>

        <tbody>
          <% @new_pages.each do |page| %>
            <tr class="new-page" data-path="<%= page[:path] %>">
              <td><%= page[:name] %></td>
              <td><%= page[:path] %></td>
              <td><%= page[:reqs] %></td>
              <td>
                <%= link_to 'Yes', add_yes_pages_path(page: {name: page[:name], path: page[:path], reqs: page[:reqs]}), class: 'btn btn-default btn-xs', data: {method: :post} %>
                <%= link_to 'No', add_no_pages_path(page: {name: page[:name], path: page[:path], reqs: page[:reqs]}), class: 'btn btn-default btn-xs', data: {method: :post} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% elsif @pages.empty? %>
  <div class="alert alert-warning text-center">
    No <code>GET</code> routes found in <code>config/routes.rb</code>.
  </div>
<% end %>

<h2>Pages</h2>
<% if @pages.any? %>
  <%= render 'nightlight/pages/pages', pages: @pages %>
<% else %>
  <p class="text-muted">There are no pages.</p>
<% end %>

<% if params[:all] %>
  <h4 id="hidden">Hidden Pages</h4>
  <% if @hidden_pages.any? %>
    <%= render 'nightlight/pages/pages', pages: @hidden_pages, hidden: true %>
  <% else %>
    <p class="text-muted">There are no hidden pages.</p>
  <% end %>
<% else %>
  <%= link_to "Show all pages", pages_path(all: true) %>
<% end %>

